@import "~/src/scss/index.scss";

.info {
  display: flex !important;
  gap: 20px;
}

.summary {
  width: 50%;
  padding: 20px 20px 20px 0;

  p {
    color: $text-secondary;
    line-height: 25px;
  }
}

.more {
  width: 50%;
  padding: 20px 0 20px 20px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-bottom: 5px;

      span {
        color: $text-secondary;
      }
    }
  }
}

@media (max-width: 768px) {
  .info {
    flex-direction: column;
    gap: 0;
  }

  .summary,
  .more {
    width: 100%;
    padding: 10px 0;
  }
}
