.stepOne {
  display: flex;
  width: 100%;
  gap: 20px;

  .center {
    width: 65%;
  }

  .right {
    width: 35%;
  }
}

@media (max-width: 992px) {
  .stepOne {
    flex-direction: column;
    gap: 15px;
  }

  .stepOne .center,
  .stepOne .right {
    width: 100%;
    padding: 0;
  }
}
